.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.places h1 {
	margin-top: 50px;
	margin-left: 20px;
	width: 100%;
	font-size: 30px;
}

.places article {
	width: 390;
	padding: 20x;
	margin: 20px;
	border: 1px #FF5A5F solid;
	border-radius: 4px;
}

.places h2 {
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: 40px;
	margin-right: 40px;
	font-size: 30px;
	text-align: center;
}
